@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #222;
    padding-bottom: 50px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3 ease-in-out;
}
.nav .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3 ease-in-out;
}
.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3 ease-in-out;
}
.nav a{
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
}
.nav.active{
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.nav.active a{
    color: #000;
}
.nav.active .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    transition: all 0.3 ease-in-out;
}
.nav a.current,
.nav a:hover{
    color: #c0392b;
    font-weight: bold;
}
.hero{
    background-image: url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 ,0, 0.6);
    z-index: -1;
}
.hero h1{
    font-size: 46px;
    margin: -20px 0 20px;
}
.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}
.content h2,
.content h3{
    font-size: 150%;
    margin: 20px 0;
}
.content p{
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
}